<% include partials/header %>

     </div>
     <div class="container">
         <h2>Developer</h2>
            <p><a href="mailto:kndulin@comcast.net">Ken Dulin</a></p>
         <h2>Techology</h2>
            <ul>
                <li>NodeJS/Express</li>
                <li>Mongodb/Mongoose</li>
                <li>HTML5/CSS/Javascript</li>
                <li>Bootstrap/JQuery</li>
                <li>Tested Browsers:</li>
                    <ul>
                        <li>PC - Google Chrome,Firefox, MS Edge, IE</li>
                        <li>Mac/Iphone - Safari</li>
                    </ul>
                <li>Development Platform - Windows 10</li>
                <li>Deployment Platform - <a href="https://www.heroku.com/">Heroku</a></li>
            </ul>
         <h2>Kudos</h2>
         <p>David Sarkozi - TEXBIRDS Facebook Group for his work in producing the data source file 
             <a href="http://www.poi-factory.com/node/48135">Texas Birding Hotspots V2</a>
         </p>
       <p>Brad Traversy, Traversy Media for his educational as well as 
           <a href="https://www.youtube.com/watch?v=Zxf1mnP5zcw">inspirational video</a></p>
     </div>
    
<% include partials/footer %>